# Python
__pycache__/
*.py[codz]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# OS
.DS_Store

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo